*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	font-family: sans-serif;
}

li {
	list-style: none;
}

.container {
    background-color: white;
    overflow: auto;
}

.inputDiv input {
    width: 100%;
    border: 1px solid #c1c1c1;
    background-color: #f7f7f7;
    border-radius: 20px 0 0 20px;
    padding: 0 0 0 15px;
    border-right: none;
    letter-spacing: 0.8px;
    color: #636363;
    font-size: 17px;
}

.inputDiv {
    display: flex;
    justify-content: space-between;
}

.inputDiv:focus-within {
    box-shadow: 0 0 7px #d4d4d4;
}

.inputDiv button {
    min-width: 55px;
    cursor: pointer;
    border: none;
    border-radius: 0 20px 20px 0;
    background-color: #6d8aa2;
    color: #ffffff;
    font-size: 18px;
    padding-right: 3px;
    transition-duration: .2s;
}

.inputDiv button:active, .inputDiv button.active {
    background-color: #409fff;
}

.list-item {
    display: flex;
    min-height: 40px;
    align-items: stretch;
}

.task-completion {
    min-width: 40px;
    border-radius: 0;
    border: none;
    font-size: 20px;
    color: #0005;
    transition-duration: 0.1s;
    background: none;
}

.task-completion::after {
    content: "\f0c8";
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
}

.list-item.completed .task-completion {
    color: #278cff;
}

.list-item.completed .task-completion::after {
    content: "\f14a";
    font-weight: 900;
}

.controls button {
    min-width: 40px;
    height: 100%;
    border-radius: 0;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.controls button:active, .controls button.active {
    background-color: #409fff;
    transition-duration: 0.1s;
    color: #fff;
}

.hidden {
	display: none;
}

.task {
    width: 100%;
    padding: 10px;
    color: #0008;
    word-break: break-word;
    resize: none;
    border-radius: 0;
    border: none;
    font-size: 16px;
    background: #006cff21;
}

.list-item .task[readonly] {
    background-color: #0000;
    color: #333;
}

.controls button:hover {
    transition-duration: 0.2s;
}

.list-item.completed .task {
    text-decoration: line-through;
    color: #999;
}

.inputDiv input::placeholder {
    opacity: .5;
    font-style: italic;
}

@media (min-width: 768px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #ececec;
        padding: 30px;
    }

	.container {
        width: 768px;
        box-shadow: 2px 7px 10px #ababab;
        border-radius: 47px;
        max-height: 100%;
    }

	.inputDiv {
	    margin: 30px;
	    height: 40px;
	    border-radius: 40px;
	}

	.controls {
		display: none;
	}

	.list-item:hover .controls {
	    display: flex;
	}

	.list-item:hover .task[readonly] {
	    background-color: #f4f4f4;
	}

	.list-item:hover .task-completion {
	    background-color: #dedede;
	}

	.controls button {
	    color: white;
	    background-color: #6d8aa2;
	}

	.inputDiv button:hover {
	    background: #486480;
	}

    .todoList {
        max-height: calc(100vh - 160px);
        overflow: auto;
        padding-bottom: 30px;
    }
}

@media (max-width: 767px) {
    body {
        height: var(--screen-height);
    }

	.container {
	    width: 100%;
	    height: 100%;
	    display: flex;
	    flex-direction: column-reverse;
	}

	.todoList {
	    max-height: calc(100% - 60px);
	    overflow: auto;
	}

	.inputDiv {
	    padding: 10px;
	    box-shadow: 0 0 10px #0005;
	    height: 60px;
	    position: relative;
	}

	.controls {
		display: flex;
	}

	.controls button {
	    color: #6d8aa2;
	    background-color: white;
	}
} 
